* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #a7c6ed, #e2f0fe);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 360px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login:hover {
    background-color: #0056b3;
}

.password-container {
    position: relative;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-strength {
    height: 5px;
    width: 100%;
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 5px;
    margin-top: 5px;
}

.password-strength span {
    display: block;
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s;
}